sounds/*
PIGPIO/
modules/__pycache__
.idea/
modules/.coverage
*__pycache__
*.AppleDouble*
*.DS_Store
designs
matches/
encodings.pickle
app.log*
battery*.csv
timelapse/*
.coverage
modular-biped-venv
data

# Viam demanded the modules get installed directly in the directory
Adafruit_Blinka-8.28.0.dist-info/
Adafruit_PlatformDetect-3.57.0.dist-info/
Adafruit_PureIO-1.1.11.dist-info/
Adafruit_PureIO/
PIL/
Pillow-10.1.0.dist-info/
Pillow.libs/
PyYAML-6.0.1.dist-info/
Pypubsub-4.0.3.dist-info/
RPi.GPIO-0.7.1.dist-info/
RPi/
_distutils_hack/
_rpi_ws281x.cpython-311-aarch64-linux-gnu.so
_yaml/
adafruit_blinka/
adafruit_bus_device/
adafruit_circuitpython_busdevice-5.2.6.dist-info/
adafruit_circuitpython_pixelbuf-2.0.4.dist-info/
adafruit_circuitpython_requests-2.0.3.dist-info/
adafruit_circuitpython_seesaw-1.16.1.dist-info/
adafruit_circuitpython_typing-1.9.6.dist-info/
adafruit_pixelbuf.py
adafruit_platformdetect/
adafruit_requests.py
adafruit_seesaw/
analogio.py
bin/
bitbangio.py
board.py
busio.py
certifi-2023.11.17.dist-info/
certifi/
chardet-3.0.4.dist-info/
chardet/
circuitpython_typing/
click-8.1.7.dist-info/
click/
colorzero-2.0.dist-info/
colorzero/
colour-0.1.5.dist-info/
colour.py
digitalio.py
distutils-precedence.pth
google/
googleapis_common_protos-1.62.0.dist-info/
googletrans-3.1.0a0.dist-info/
googletrans/
gpiozero-2.0.dist-info/
gpiozero/
gpiozerocli/
grpclib-0.4.6.dist-info/
grpclib/
h11-0.9.0.dist-info/
h11/
h2-3.2.0.dist-info/
h2/
hpack-3.0.0.dist-info/
hpack/
hstspreload-2023.1.1.dist-info/
hstspreload/
httpcore-0.9.1.dist-info/
httpcore/
httpx-0.13.3.dist-info/
httpx/
hyperframe-5.2.0.dist-info/
hyperframe/
idna-2.10.dist-info/
idna/
include/
joblib-1.3.2.dist-info/
joblib/
keypad.py
microcontroller/
micropython-stubs/
micropython.py
multidict-6.0.4.dist-info/
multidict/
neopixel_write.py
nltk-3.8.1.dist-info/
nltk/
numpy-1.26.2.dist-info/
numpy.libs/
numpy/
onewireio.py
pkg_resources/
protobuf-4.25.1.dist-info/
pubsub/
pulseio.py
pwmio.py
pyftdi-0.55.0.dist-info/
pyftdi/
pygame-2.5.2.dist-info/
pygame.libs/
pygame/
pyserial-3.5.dist-info/
pyusb-1.2.1.dist-info/
rainbowio.py
regex-2023.10.3.dist-info/
regex/
rfc3986-1.5.0.dist-info/
rfc3986/
rpi_ws281x-5.0.0.dist-info/
rpi_ws281x/
run_viam.sh
schedule-1.2.1.dist-info/
schedule/
serial/
setenv.py
setuptools-69.0.2.dist-info/
setuptools/
sniffio-1.3.0.dist-info/
sniffio/
sysv_ipc-1.1.0.dist-info/
sysv_ipc.cpython-311-aarch64-linux-gnu.so
tqdm-4.66.1.dist-info/
tqdm/
typing_extensions-4.9.0.dist-info/
typing_extensions.py
usb/
usb_hid.py
venv/
viam/
viam_sdk-0.12.0.dist-info/
yaml/
!modules/viam/