sounds/*
PIGPIO/
modules/__pycache__
.idea/
modules/.coverage
*__pycache__
*.AppleDouble*
*.DS_Store
designs
matches/
encodings.pickle
app.log*
battery*.csv
timelapse/*
.coverage

# storing old dependencies that aren't used anymore
dependencies.bu 

data/
.circleci/
.vscode
myenv

# installation flags and installed libraries
installers/i2s_mic_installed.flag
installers/i2s_speech_recognition_installed.flag

speech.wav