

# Publisher / subscriber service
pypubsub

# pigpio ## not working, trying alternative
gpiozero

# Speech recognition
# SpeechRecognition
#pocketsphinx

# Chat bot
#Cython
#chatterbot==1.0.2
#chatterbot_corpus

# Braillespeak
# pysine ## FAILING

#cv2
# opencv-python
# face-recognition
# imutils

# nightly loop
schedule

colour

#Config yaml
pyyaml

# Translator
googletrans==3.1.0a0

#i2c neopixels
# adafruit-extended-bus
# adafruit-blinka
adafruit-circuitpython-seesaw

pygame

nltk

# viam-sdk[mlmodel]