pygame

# Publisher / subscriber service
pypubsub

# Speech recognition
SpeechRecognition
#pocketsphinx

# Chat bot
#Cython
#chatterbot==1.0.2
#chatterbot_corpus

# Braillespeak
pysine

#cv2
opencv-python
face-recognition
imutils

# nightly loop
schedule